:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-ligt: #819b57;
  --color-brand-dark: #465929;
}
/*Basse*/
body {
  color: var(--color-primary-dark);
}

/* Global*/
ul {
  list-style-type: none;
}

/* Button*/
.button {
  color: var(--color-primary-light);
  background-color: var(--color-brand-ligt);
  border: 2px solid var(--color-brand-ligt);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

.link {
  color: var(--color-primary-light);
}

/* Link*/
.link:hover {
  color: var(--color-brand-ligt);
}

/*Hero section*/
.hero-title {
  color: var(--color-primary-light);
}

.hero-title .accent {
  color: var(--color-brand-ligt);
}

/*Advantages section*/
.advantages-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand-ligt);
}

.section-title .accent {
  color: var(--color-brand-dark);
}
/*.section-title {
  color: var(--color-primary-dark);
}*/
